.DS_Store
*.log
node_modules
dist/
.tmp
.sass-cache
app/bower_components
.idea/

app/lib/

www/
##########Platforms##########
platforms/

##########iOS##########
platforms/ios/cordova/console.log

app/js/env.js
