<!-- <fa-modifier fa-align="[0,0]">
	<fa-scroll-view id="menuView">
		<fa-surface>
			Menu
		</fa-surface>
	</fa-scroll-view>
</fa-modifier> -->

<fa-modifier fa-align="[0,0]">
	<fa-scroll-view id="contentView">
		<fa-header-footer-layout>
	    <fa-surface fa-size="[undefined, 50]" fa-background-color="'#F00'">Header</fa-surface>
	    <fa-surface fa-size="[undefined, undefined]" fa-background-color="'#0F0'">Content</fa-surface>
	    <fa-surface fa-size="[undefined, 50]" fa-background-color="'#00F'">Footer</fa-surface>
	  </fa-header-footer-layout>
	</fa-scroll-view>
</fa-modifier>
