<span ng-controller="NavbarCtrl" >
  <header ng-class="{'header-scroll':shrink_header}">
    <div class="navbar-container">
      <!-- Site Logo -->
      <a ui-sref="main" class="site-logo">
        <img id="logo_image" src="img/green_icon.png"></img> Doresol
        <!--<i class="gi gi-flash"></i> <strong>Pro</strong>UI-->
      </a>
      &nbsp;<span class="label label-success">Beta</span>
      <!-- Site Logo -->

      <nav>
        <ul class="site-nav">
          <li ng-show="currentUser"><a ng-click="logout()">로그아웃</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <ul class="nav nav-tabs nav-justified" role="tablist" style="margin-top:44px;">
    <li ng-class="{active: isActive('/profile')}"><a ui-sref="profile">Profile</a></li>
    <li ng-class="{active: isActive('/story')}"><a ui-sref="story">Story</a></li>
    <li ng-class="{active: isActive('/letter')}"><a ui-sref="letter">Letter</a></li>
    <li ng-class="{active: isActive('/member')}"><a ui-sref="member">Member</a></li>
  </ul>
</span>