<span ng-controller="NavbarCtrl" >
  <header ng-class="{'header-scroll':shrink_header}">
    <div class="navbar-container">
      
      <a ui-sref="main" class="site-logo">
        <img id="logo_image" src="img/green_icon.png"></img> Doresol
      
      </a>
      &nbsp;<span class="label label-success">Beta</span>
      
      
      <nav>
        <ul class="site-nav">
          <li ng-show="user"><a ng-click="logout()">로그아웃</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="btn-group btn-group-justified nav-btn" style="margin-top:44px;">
    <a ng-class="{active: isActive('/profile')}" class="btn btn-default" ui-sref="profile">프로필</a>
    <a ng-class="{active: isActive('/story')}" class="btn btn-default" ui-sref="story">이야기</a>
    <a ng-class="{active: isActive('/letter')}" class="btn btn-default" ui-sref="letter">편지</a>
    <a ng-class="{active: isActive('/member')}" class="btn btn-default" ui-sref="member">멤버</a>
  </div> 
</span>