<fa-header-footer-layout>
    <fa-modifier fa-size="[undefined, 90]" fa-translate="[0, 0, 1]">
	    <fa-view>
	      <fa-surface>
	      	  <div ng-include="'modules/core/views/navbar.html'"></div>
        </fa-surface>
	    </fa-view>
    </fa-modifier>
		<fa-modifier fa-translate="[0, 0, 0]">
		  <fa-scroll-view fa-pipe-from="eventHandler">
		  	<!-- only for overview -->
		  	<fa-view fa-index="0" ng-if="mode==='overview'">
					<fa-modifier fa-size="[undefined,{{gridHeight}}]">
						<fa-grid-layout fa-options="gridLayoutOptions">
					    <fa-modifier ng-repeat="story in storiesObject" fa-size="[{{boxSize}}, {{boxSize}}]"  fa-align="[0.5,0]" fa-origin="[0.5,0]">
								<fa-image-surface fa-image-url="{{hostUrl + story.file.url}}" fa-pipe-to="eventHandler" ng-click="changeMode(story,'detail')">
							  </fa-image-surface>
							</fa-modifier>
					  </fa-grid-layout>
				  </fa-modifier>
				</fa-view>

				<!-- comment profile -->
		  	<fa-view ng-if="mode=='detail'">
				  <fa-modifier fa-size="[undefined, 50]">
						<fa-image-surface fa-pipe-to="eventHandler" fa-size="[50, 50]" fa-image-url="{{users[selectedStory.ref_user].profile.file.url}}"></fa-image-surface>
						<fa-modifier fa-translate="[60,0,0]">
							<fa-surface fa-pipe-to="eventHandler">{{users[selectedStory.ref_user].profile.name}}</fa-surface>
						</fa-modifier>
						<fa-modifier fa-translate="[60,20,0]">
							<fa-surface fa-pipe-to="eventHandler">{{formatDate(selectedStory.created_at)}}</fa-surface>
						</fa-modifier>
					</fa-modifier>
				</fa-view>

				<!-- story detail text -->
				<fa-view ng-if="mode=='detail'">
					<fa-modifier fa-size="[undefined, getScrollContentHeight('scroll-content-1')]">
						<fa-surface fa-pipe-to="eventHandler" >
		  				<div id="scroll-content-1">
								<h4>{{selectedStory.text.headline}}</h4>
								<p>{{selectedStory.text.text}}</p>
	  						<img ng-src="{{hostUrl + selectedStory.file.url}}" ng-click="changeMode(selectedStory,'overview')" class="img-responsive img-center"> 
	  						<div ng-repeat="(commentKey, comment) in commentsObject">
		              <img ng-src="{{users[comment.ref_user].profile.file.url}}" style="width:32px;height:32px;"/>
				          <strong class="comment-user-id">{{users[comment.ref_user].profile.name}}</strong>
				          <span class="text-muted text-small"><em>{{comment.fromNow}}</em></span>
				          <span><p>{{comment.body}}</p></span>
				        </div>
				        <br>
							</div>
						</fa-surface>
					</fa-modifier>
				</fa-view>
			</fa-scroll-view>
		</fa-modifier>

		<!-- comment writing -->
		<fa-modifier fa-size="[undefined, 90]" fa-translate="[0, 0, 1]">
	    <fa-view ng-if="mode==='detail'">
	    	<fa-surface fa-background-color="'white'">
          <textarea class="form-control" ng-model="newComment.body" placeholder="댓글을 입력하세요.." rows="1"/>
          <button type="submit" class="btn btn-xs btn-success" ng-click="addComment(selectedStory.$id,newComment)"><i class="fa fa-pencil"></i>댓글 저장</button>
		    </fa-surface>
		  </fa-view>
	  </fa-modifier>
</fa-header-footer-layout>